.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form {
  width: 40%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
  margin-top: 40px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

button:disabled {
  background-color: #cccccc;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pageLink {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #f10bf9;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.link-style-none {
  text-decoration: none;
  color: inherit;
}

.pageLink:disabled {
  background-color: #cccccc;
}

.pageLink:hover:not(:disabled) {
  background-color: #0056b3;
  color: white;
}
.pageLink1 {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #07d96d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.pageLink1:disabled {
  background-color: #cccccc;
}

.pageLink1:hover:not(:disabled) {
  background-color: #0056b3;
  color: white;
}
/* styles.css */
.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.otp-input:focus {
  outline: 2px solid blue;
}
.timer {
  color: #007bff;
  font-size: 20px;
}
/* Container for the Modal */
.ant-modal {
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

/* Modal Header */
.ant-modal-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Modal Body */
.ant-modal-body {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

/* Modal Footer */
.ant-modal-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Customizing Ant Design Button Styles */
.ant-btn-primary {
  background-color: #3618f9; /* Red color for the logout button */
}

.ant-btn-primary:hover {
  background-color: #c9077f;
}

/* Style for the Cancel Button */
.ant-btn-default {
  background-color: #f0f0f0;
  color: #595959;
  border-color: #d9d9d9;
}

.ant-btn-default:hover {
  background-color: #e6e6e6;
  border-color: #bfbfbf;
}

/* Modal Close Button */
.ant-modal-close-x {
  color: #999;
  font-size: 20px;
}

/* Modal Overlay */
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Text in the Body */
.ant-modal-body p {
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 10px 0;
}
.text-reset {
  text-decoration: none;
}
